<html>

<body>
  <ul>
    <% messages.map((message) => { %>
    <li>

      <ul>
        <li>Message Text: <%= message.message %></li>
        <li>Message User: <%= message.username %></li>
        <li>Date Added: <%= message.date %></li>
        <a href="/detail/<%= message.message %>/<%= message.username %>/<%= message.date %>">Open</a>
      </ul>

    </li>
    <% }) %>
  </ul>
  <a href="/new">Add New Message</a>
</body>

</html>